html {
  scroll-behavior: smooth;
}

a {
  color: #404040;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}

body {
  background: #f0efe7 url(https://git-scm.com/images/bg/body.jpg);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(240, 239, 231);
}

button {
  animation: fadeindelay 2.5s;
  background-color: transparent;
  border: .075rem solid black;
  border-radius: .25rem;
  color: #414141;
  cursor: pointer;
  display: inline-block;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
  padding-bottom: .9rem;
  padding-top: 1rem;
  text-align: center;
  transition-duration: .3s;
  width: 15rem;
}

button:active {
  box-shadow: 0 .1rem #666;
  transform: translateY(.25rem);
  transform: scale(50px, 50px);
}

button:focus:not(.focus-visible) {
  outline: none;
}

button:hover {
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

figure {
  margin: auto;
  width: 100%;
}

figure img {
  text-align: center;
  width: 100%;
  margin: auto;
}

figcaption {
  font-size: .85rem;
  font-family: 'kepler-std', serif;
}

footer {
  animation: fadeindelay 2.5s;
  font-family: 'kepler-std', serif;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
  width: 35rem;
}

footer img {
  width: 2.5rem;
}

h1 {
  animation: fadein 4s;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 0 auto -1.5rem auto;
  width: 80%;
  text-transform: uppercase;
}

header {
  margin-top: 2rem;
  text-align: center;
}

header button {
  margin-bottom: 2rem;
}

header h2 {
  animation: fadeindelay 2s;
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.25rem;
  width: 50%;
  margin: .5rem auto 1rem auto;
}

header img {
  width: 13rem;
  margin: auto;
  animation: fadein 4s;
}

header iframe {
  display: block;
  text-align: center;
  margin: auto;
  opacity: 0;
  animation: fadeindelay 3s forwards;
}

main {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin: 0 35% 1.5rem 31%;
  text-align: left;
  width: 35rem;
}

main h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

ul {
  text-align: left;
}

#about {
  margin: auto;
  text-align: justify;
  width: 30rem;
  animation: fadeindelay 2.5s;
}

#about h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5rem;
  margin-bottom: 0rem;
}

#about iframe {
  display: block;
  text-align: center;
  margin: auto;
}

#about li {
  font-family: 'kepler-std', serif;
}

#about p {
  font-family: 'kepler-std', serif;
  font-size: 1.1rem;
}

#buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

#CC:hover {
  animation: fadeinfooter .6s forwards;
}

#copyright {
  margin-top: -.5rem;
}

#dog img:hover {
  animation: fadeinfooter .6s forwards;
}

#headervideo {
  width: 30rem;
}

#finalseed {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

#math {
  text-align: center;
}

#regularicons img:hover {
  animation: fadeinfooter .6s forwards;
}

#icons a {
  text-decoration: none;
}

.attribution {
  font-size: .75rem;
}

.divider {
  margin: auto;
  width: 15rem;
  display: block;
}

.fadein {
  animation: fadein 3s forwards;
}

.hidden {
  display: none;
}

.icons {
  opacity: .65;
}

.videowrapper {
  margin: auto;
  position: relative;
  padding-bottom: 16.9rem;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 950px) {
  button {
    margin-bottom: 1rem;
  }

  h1 {
    line-height: 2.5rem;
    margin: auto;
    text-align: center;
    width: 90%;
    font-size: 2.5rem;
  }

  main {
    margin: 5%;
    width: 90%;
  }

  h2 {
    margin-top: .25rem;
    margin-bottom: 1.5rem;
    width: 50%;
    font-size: 1rem;
  }

  header img {
    width: 10rem;
  }

  #about {
    font-family: 'kepler-std', serif;
    margin: auto;
    width: 75%;
  }

  #buttons {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  #headervideo {
    width: 30rem;
  }

  footer {
    width: 80%;
  }

  #about.videowrapper {
    padding-bottom: 56.25%;
  }
}

@media screen and (max-width: 500px) {
  #headervideo {
    width: 80%;
  }

  .videowrapper {
    width: 60%;
    padding-bottom: 38%;
  }
}

@keyframes fadeindelay {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeinfooter {
  from {
    opacity: .65;
  }

  to {
    opacity: 1;
  }
}
