html {
  scroll-behavior: smooth;
}
a {
  color: #404040;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}

body {
  background: #f0efe7 url(https://git-scm.com/images/bg/body.jpg);
  background-image: url(https://git-scm.com/images/bg/body.jpg);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(240, 239, 231);
}

button {
  animation: fadeindelay 2.5s;
  background-color: transparent;
  border: .075rem solid black;
  border-radius: .25rem;
  color: #414141;
  display: inline-block;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
  padding-bottom: .9rem;
  padding-top: 1rem;
  text-align: center;
  transition-duration: .3s;
  width: 15rem;
}

button:active {
  box-shadow: 0 .1rem #666;
  transform: translateY(.25rem);
  transform: scale(50px, 50px);
}

button:focus:not(.focus-visible) {
  outline: none;
}

button:hover {
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
}

footer {
  animation: fadeindelay 2.5s;
  font-family: 'kepler-std', serif;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
  width: 35rem;
}

footer img {
  width: 2.5rem;
}

h1 {
  animation: fadein 4s;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 0rem auto -1.5rem auto;
  width: 80%;
  text-transform: uppercase;
}

header {
  margin-top: 2rem;
  text-align: center;
}

header button {
  margin-bottom: 2rem;
}

header h2 {
  animation: fadeindelay 2s;
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.25rem;
  width: 40%;
  margin: 1rem auto 1rem auto;
}

header img {
  width: 13rem;
  margin: auto;
  animation: fadein 4s;
}
main {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin: 0rem 35% 1.5rem 31%;
  text-align: left;
  width: 35rem;
}

main h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

ul {
  text-align: left;
}

#about {
  margin: auto;
  text-align: justify;
  width: 30rem;
  animation: fadeindelay 2.5s;
}

#about h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5rem;
  margin-bottom: 0rem;
}

#about li {
  font-family: 'kepler-std', serif;
}

#about p {
  font-family: 'kepler-std', serif;
  font-size: 1.1rem;
}

#buttons {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

#CC:hover {
  animation: fadeinfooter .6s forwards;
}

#copyright {
  margin-top: -.5rem;
}

#dog img:hover {
  animation: fadeinfooter .6s forwards;
}

#finalseed {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

#math {
  text-align: center;
}

#regularicons img:hover {
  animation: fadeinfooter .6s forwards;
}

#icons a {
  text-decoration: none;
}

.divider {
  margin: auto;
  width: 15rem;
  display: block;
}

.fadein {
  animation: fadein 3s forwards;
}

.hidden {
  display: none;
}

.icons {
  opacity: .65;
}

.attribution {
  font-size: .75rem;
}

@media screen and (max-width: 950px) {
  button {
    margin-bottom: 1rem;
  }

  h1 {
    line-height: 2.5rem;
    margin: auto;
    text-align: center;
    width: 90%;
    font-size: 2.5rem;
  }
  main {
    margin: 5%;
    width: 90%;
  }
  header h2 {
    margin-top: .25rem;
    margin-bottom: 1.5rem;
    width: 50%;
    font-size: 1rem;
  }
  header img {
    width: 10rem;
  }
  #about {
    font-family: 'kepler-std', serif;
    margin: auto;
    width: 75%;
  }
  #buttons {
    margin-bottom: 0rem;
  }

  footer {
    width: 80%;
  }
}

@keyframes fadeindelay {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeinfooter {
    from { opacity: .65; }
    to { opacity: 1; }
}
